.calendar {
    background: $dark-blue;
    &__block {
        padding: 120px 0 90px;
    }
    &__header {
        display: flex;
        gap: 30px;
        align-items: flex-end;
        text-transform: uppercase;
        font-family: $roboto;
        h2 {
            color: $white;
            margin: 0;
            font-weight: $black-font;
            font-size: 36px;
            line-height: 130%;
        }
        a {
            font-weight: $black-font;
            font-size: 36px;
            line-height: 130%;
            color: $pale-blue;
        }
        a:hover {
            color: #65658a;
            transition: color .2s;
        }
    }
    &__slider {
        height: 385px;
        margin-top: 90px;
    }
    &__slide {
        height: 320px !important;
        background: linear-gradient(110.18deg, #1E1E44 0%, rgba(30, 30, 68, 0) 99.2%);
        border-radius: 5px;
        color: $white;
    }
    &-match {
        padding: 22px 35px;
        text-align: center;
        &__block {
            padding: 22px 35px;
            text-align: center;
        }
        &__comand {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__name {
            margin: 0;
            padding: 0;
            font-weight: $bold;
            font-size: 18px;
            line-height: 130%;
        }

        &__check {
            margin: 0;
            letter-spacing: 5px;
            font-weight: $bold;
            font-size: 36px;
            line-height: 130%;
        }

        &__info {
            padding-top: 30px;
            font-weight: $reg;
            font-size: 16px;
            line-height: 130%;

            p {
                padding: 0;
                margin: 0;
            }

            p:last-child {
                padding-top: 10px;
            }
        }
    }
    &-comand {
        &__photo {
            object-fit: cover;
            height: 100px;
        }
        &__name {
            margin: 0;
            padding-top: 15px;
            font-weight: $medium;
            font-size: 20px;
            line-height: 130%;
        }
    }
    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        opacity: 0.8;
        transition: opacity .2s;
    }
    .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next {
        top: 95%;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 35px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height: 3px;
        border: none;
        background: $white;
        border-radius: 3px;
        opacity: 1;
    }

    .swiper-pagination-bullet:hover {
        opacity: 0.7;
        transition: opacity .2s;
    }

    .swiper-pagination-bullet-active {
        background: #399E5A;
        opacity: 1;
    }
    .swiper-slider {
        height: fit-content !important;
    }
}

@media (max-width: 1680px) {
    .calendar {
        &-match {
            &__block {
                padding: 20px;
            }
        }
        &-comand {
            &__photo {
                height: 90px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .calendar {
        &-comand {
            &__photo {
                height: 80px;
            }
        }
        &-match {
            &__check {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 1170px) {
    .calendar {
        &__header {
            gap: 50px;

            h2 {
                font-size: 32px;
            }

            a {
                font-size: 32px;
            }
        }
        &__slider {
            margin-top: 60px;
        }
    }
}

@media (max-width: 992px) {
    .calendar {
        &__block {
            padding: 90px 0 60px;
        }
        &__header {
            gap: 60px;
        }
        &__slider {
            height: 360px;
        }
        &__slide {
            height: 295px !important;
        }
        &-match {
            &__name {
                font-size: 16px;
            }
            &__info {
                font-size: 16px;
            }
            &__check {
                font-size: 28px;
            }
        }
        &-comand {
            &__photo {
                height: 60px;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        .swiper-pagination {
            top: 92%;
        }
    }
}

@media (max-width: 768px) {
    .calendar {
        &__header {
            gap: 60px;
            a, h2 {
                font-size: 28px;
            }
        }
        &__slider {
            height: 310px;
        }
        &__slide {
            height: 285px !important;
        }
        &-match {
            padding: 25px 40px;
            &__name {
                font-size: 18px;
            }
            &__comand {
                padding-top: 20px;
            }
            &__check {
                font-size: 28px;
            }

            &__info {
                padding-top: 20px;
            }
        }
        &-comand {
            &__photo {
                height: 80px;
            }

            &__name {
                padding-top: 10px;
            }
        }
        .swiper-pagination {
            top: 95%;
        }
        .swiper-pagination-bullet {
            width: 20px;
        }
    }
}

@media (max-width: 576px) {
    .calendar {
        &__block {
            padding: 70px 0 50px;
        }
        &__slider {
            margin-top: 40px;
            height: 300px;
        }
        &-slide {
            height: 275px !important;
        }
        &-match {
            &__block {
                padding: 25px 40px;
            }
            &-name {
                font-size: 18px;
            }
        }
        &-comand {
            &__photo {
                height: 65px;
            }

            &__name {
                padding-top: 5px;
            }
        }
        .swiper-pagination {
            top: 95%;
        }
    }
}

@media (max-width: 480px) {
    .calendar {
        &__block {
            padding: 80px 0 40px;
        }
        &__header {
            a, h2 {
                font-size: 24px;
            }
        }
        &__slider {
            margin-top: 30px;
            height: 280px;
        }
        &__slide {
            height: 255px !important;
        }
        &-match {
            &__name {
                font-size: 18px;
            }
            &__block {
                padding: 25px 40px;
            }
            &__comand {
                padding-top: 20px;
            }
            &__check {
                font-size: 24px;
            }

            &__info {
                font-size: 14px;
                padding-top: 20px;
            }
        }
        &-comand {
            &__photo {
                height: 60px;
            }

            &__name {
                font-size: 16px;
                padding-top: 10px;
            }
        }
        .swiper-pagination {
            top: 94%;
        }
    }
}

@media (max-width: 380px) {
    .calendar {
        &__header {
            gap: 30px;
        }
        &-match {
            &__block {
                 padding: 25px 20px;
            }
        }
    }
}

