.media {
    padding: 60px 0 120px;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__block {
        max-width: 800px;
        width: 100%;
        margin-top: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__item {
        max-height: 320px;
        height: 100%;
        transform: translateY(0px);
        transition: transform .3s;
        img {
            border-radius: 3px 3px 0 0;
            height: 256px;
            max-width: 385px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__item:hover {
        transform: translateY(-10px);
        transition: transform .3s;
    }

    &__date {
        margin: 0;
        padding-top: 15px;
        font-weight: $reg;
        font-size: 14px;
        line-height: 16px;
        color: #BDBDBD;
    }

    &__name {
        margin: 0;
        padding-top: 10px;
        font-weight: $medium;
        font-size: 16px;
        line-height: 130%;
        color: $text;
    }

    &__wrap {
        position: relative;

        img {
            height: 256px;
            max-width: 385px;
            width: 100%;
            object-fit: cover;
        }

        svg {
            position: absolute;
            width: 60px;
            height: 60px;
            top: 40%;
            left: 40%;
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        padding-top: 40px;
    }
}

@media (max-width: 1400px) {
    .media {
        padding: 50px 0 100px;
        &__date {
            padding-top: 10px;
            font-size: 14px;
        }

        &__name {
            font-size: 15px;
            line-height: 120%;
        }
        &__item {
            max-height: 270px;
            img {
                height: 212px;
            }
        }
        &__wrap {
            img {
                height: 212px;
            }
            svg {
                top: 35%;
                left: 35%;
            }
        }
    }
}

@media (max-width: 1170px) {
    .media {
        &__item {
            max-height: 255px;
            img {
                height: 198px;
            }
        }
        &__wrap {
            img {
                height: 198px;
            }
            svg {
                width: 45px;
                height: 45px;
                top: 35%;
                left: 35%;
            }
        }
    }
}

@media (max-width: 992px) {
    .media {
        padding: 45px 0 90px;
        .container {
            grid-template-columns: 1fr;
            gap: 40px;
        }
        &__block {
            margin-top: 40px;
        }
        &__date {
            font-size: 14px;
        }

        &__name {
            font-size: 16px;
        }
        &__item {
            img {
                height: 206px;
            }
        }

        &__wrap {
            img {
                height: 206px;
            }
            svg {
                width: 60px;
                height: 60px;
                top: 40%;
                left: 40%;
            }
        }

        &__btn {
            padding-top: 30px;
        }
    }
}

@media (max-width: 768px) {
    .media {
        &__date {
            font-size: 12px;
        }

        &__name {
            font-size: 14px;
        }
        &__item {
            img {
                height: 198px;
            }
        }
        &__wrap {
            img {
                height: 198px;
            }
            svg {
                width: 50px;
                height: 50px;
                top: 38%;
                left: 38%;
            }
        }
    }
}

@media (max-width: 576px) {
    .media {
        padding: 35px 0 70px;
        &__date {
            padding-top: 5px;
        }
        &__name {
            padding-top: 8px;
        }
        &__item {
            img {
                height: 176px;
            }
        }
        &__wrap {
            img {
                height: 176px;
            }
            svg {
                width: 40px;
                height: 40px;
                top: 40%;
                left: 40%;
            }
        }
    }
}

@media (max-width: 480px) {
    .media {
        padding: 25px 0 50px;
        &__name {
            font-size: 13px;
        }
        &__item {
            img {
                height: 144px;
            }
        }
        &__wrap {
            img {
                height: 144px;
            }
            svg {
                width: 30px;
                height: 30px;
                top: 39%;
                left: 39%;
            }
        }
    }
}