.adversting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
    &-photo {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 75px 100px;
        background: $dark-blue;
        color: $white;
        h3 {
            padding: 0;
            margin: 0;
            font-family: $roboto;
            font-style: normal;
            font-weight: $black;
            font-size: 36px;
            line-height: 130%;
            text-transform: uppercase;
        }
        p {
            padding: 10px 0 0 0;
            margin: 0;
            font-style: normal;
            font-weight: $reg;
            font-size: 16px;
            line-height: 130%;
        }
        &-icon {
            padding-top: 30px;
            display: flex;
            gap: 40px;
            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .adversting {
        &__contact {
            padding: 75px;
            h3 {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 1170px) {
    .adversting {
        &__contact {
            padding: 35px;
            h3 {
                font-size: 28px;
            }
            &-icon {
                padding-top: 25px;
                gap: 30px;
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .adversting {
        max-height: 700px;
        grid-template-columns: 1fr;
        &-photo {
            max-height: 350px;
        }
        &__contact {
            box-sizing: border-box;
            height: 350px;
            padding: 0 75px;
            h3 {
                font-size: 28px;
            }

            &-icon {
                padding-top: 25px;
                gap: 30px;
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .adversting {
        max-height: 600px;
        &-photo {
            max-height: 300px;
        }
        &__contact {
            height: 300px;
        }
    }
}

@media (max-width: 576px) {
    .adversting {
        max-height: 600px;
        &-photo {
            max-height: 300px;
        }
        &__contact {
            height: 300px;
        }
    }
}

@media (max-width: 480px) {
    .adversting {
        max-height: 500px;
        &__contact {
            height: 250px;
            padding: 0 30px;
            h3 {
                font-size: 24px;
            }
            p {
                font-size: 15px;
            }
            &-icon {
                gap: 25px;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}