.enter {
    background: url(../../img/enter-bg.jpg) center no-repeat;
    background-size: cover;
    &__form {
        margin: 0 auto;
        padding: 290px 0;
        max-width: 260px;
        box-sizing: border-box;
        text-align: center;
        h2 {
            margin: 0 0 20px 0;
            color: $white;
        }
        input {
            box-sizing: border-box;
            width: 100%;
            display: block;
            padding: 10px 20px 8px;
            margin-top: 20px;
            background-color: inherit;
            border: none;
            border-bottom: 1px solid #F2F2F2;
            outline: none;
            font-weight: $reg;
            font-size: 16px;
            line-height: 17px;
            color: #F2F2F2;
        }
        input::placeholder {
            color: #F2F2F2;
        }
        label {
            display: flex;
            align-items: flex-start;
            gap: 5px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: $reg;
            font-size: 12px;
            line-height: 130%;
            color: $white;
            text-align: left;
            input[type="checkbox"] {
                width: 12px;
                height: 12px;
                display: inline-block;
                margin: 0;
                padding: 0;
                cursor: pointer;
            }
        }
        label:hover {
            color: #f0f0f0;
        }
    }
    &__social {
        margin-top: 15px;
        p {
            margin: 0;
            padding: 0;
            font-weight: $reg;
            color: $white;
            font-size: 16px;
            line-height: 130%;
        }
        &-wrap {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            gap: 10px;
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    &__registration {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button, a {
           cursor: pointer;
           background: $arrow;
           border: none;
           padding: 10px 20px;
           border-radius: 3px;
           font-weight: $medium;
           font-size: 16px;
           line-height: 18px;
           text-transform: uppercase;
           color: $white;
        }
        a {
            background: #266CC3;
        }
        button:hover {
            background: $arrow-hover;
        }
        a:hover {
            background: #1D64BD;
        }
    }
}

.registration {
    &__form {
        padding: 200px 0 120px;
    }
    &__btn {
        justify-content: center;
    }
    &__label {
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }
}

@media (max-width: 1400px) {
    .enter {
        &__form {
            padding: 260px 0 170px;
        }
    }
    .registration {
        &__form {
            padding: 180px 0 90px;
        }
    }
}

@media (max-width: 1170px) {
    .enter {
        &__form {
            padding: 230px 0 140px;
        }
    }
    .registration {
        &__form {
            padding: 160px 0 90px;
        }
    }
}

@media (max-width: 992px) {
    .enter {
        &__form {
            padding: 210px 0 130px;
            label {
                input[type="checkbox"] {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        &__social {
            margin-top: 20px;
            p {
                font-size: 15px;
            }
            &-wrap {
                margin-top: 10px;
            }
        }
    }
    .registration {
        &__form {
            padding: 150px 0 80px;
        }
    }
}

@media (max-width: 768px) {
    .enter {
        &__form {
            padding: 190px 0 120px;
        }
        h2 {
            margin: 0 0 10px 0;
        }
        input {
            font-size: 15px;
            margin-top: 15px;
            padding: 10px 20px 8px;
        }
        &__registration {
            margin-top: 20px;
            button,a {
                font-size: 14px;
            }
        }
    }
    .registration {
        &__form {
            padding: 130px 0 60px;
        }
    }
}

@media (max-width: 576px) {
    .enter {
        &__form {
            padding: 160px 0 100px;
        }
    }
    .registration {
        &__form {
            padding: 120px 0 50px;
        }
    }
}

@media (max-width: 480px) {
    .enter {
        &__form {
            padding: 150px 0 80px;
            label {
                font-size: 10px;
            }
        }
    }
    .registration {
        &__form {
            padding: 120px 0 50px;
        }
    }
}