.footer {
    z-index: 1;
    padding: 50px 0;
    background-color: $footer;
    .container {
        display: flex;
        align-items: flex-start;
        gap: 150px;
    }
    &__logo {
        width: 250px;
        height: 250px;
    }
    &__wrap {
        display: flex;
        gap: 140px;
    }
    &__menu {
        width: 100%;
    }
    &__links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                color: $text;
                font-weight: $medium;
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
    &-contact {
        &__wrap {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &__item {
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
                width: 20px;
                height: 20px;
            }
            a,
            p {
                color: $text;
                font-style: normal;
                font-weight: $medium;
                font-size: 18px;
                line-height: 21px;
                margin: 0;
            }
        }
        &__social-wrap {
            padding-top: 30px;
            display: flex;
            gap: 20px;

            svg {
                width: 43px;
                height: 43px;
            }
            svg:hover {
                opacity: 0.8;
                transition: opacity .2s;
            }
        }
    }
    &__line {
        margin-top: 30px;
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: $text;
    }
    &-info {
        &__wrap {
            display: flex;
            gap: 55px;
        }
    }
    &__info {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        a {
            color: $text;
            font-style: normal;
            font-weight: $reg;
            font-size: 12px;
            line-height: 14px;
        }
    }
    &-mobile {
        &__line {
            width: 100%;
            margin-top: 30px;
            display: inline-block;
            height: 1px;
            width: 100%;
            background-color: $text;
        }
        &__wrap {
            padding: 0;
            display: flex;
            gap: 35px;
        }
        &__info {
            width: 100%;
            display: none;
            &-block {
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                a {
                    color: $text;
                    font-style: normal;
                    font-weight: $reg;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }
    }
    a {
        transition: color .3s;
    }
    a:hover {
        color: #666666;
        transition: color .2s;
    }
}

@media (max-width: 1680px) {
    .footer {
        .container {
            gap: 125px;
        }
        &__wrap {
            gap: 120px;
        }
    }
}

@media (max-width: 1400px) {
    .footer {
        &__logo {
            width: 225px;
            height: 225px;
        }
        .container {
            gap: 120px;
        }
        &__wrap {
            gap: 110px;
        }
        &-info__wrap {
            display: flex;
            gap: 45px;
        }
    }
}

@media (max-width: 1170px) {
    .footer {
        .container {
            gap: 100px;
        }
        &__logo {
            width: 212px;
            height: 212px;
        }
        &-contact {
            &__item {
                a,
                p {
                    font-size: 16px;
                }
            }
        }
        &__links {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
        &__wrap {
            gap: 100px;
        }
        &-info {
            &__wrap {
                gap: 40px;
            }
        }
    }
}

@media (max-width: 992px) {
    .footer {
        .container {
            gap: 80px;
        }
        &__logo {
            width: 176px;
            height: 176px;
        }
        &__wrap {
            gap: 80px;
        }
        &-info {
            &__wrap {
                display: none;
            }
        }
        &__line {
            display: none;
        }
        &-mobile {
            &__info {
                display: block;
                &-block {
                    padding-top: 10px;
                    gap: 5px;
                }
            }
        }
        &-contact {
            &__social {
                &-wrap {
                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .container {
            gap: 40px;
        }
        &__logo {
            width: 150px;
            height: 150px;
        }
        &__wrap {
            gap: 40px;
        }
        &__links {
            gap: 10px;

            li {
                a {
                    font-size: 14px;
                }
            }
        }
        &-contact {
            &__item {
                svg {
                    width: 15px;
                    height: 15px;
                }
                gap: 5px;

                a,
                p {
                    line-height: 16px;
                    font-size: 14px;
                }
            }
        }
        &-contact {
            &-wrap {
                gap: 7px;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        .container {
            gap: 20px;
        }
        &__logo {
            width: 125px;
            height: 125px;
        }
        &__wrap {
            gap: 20px;
        }
        &__links {
            gap: 8px;
        }
    }
}

@media (max-width: 480px) {
    .footer {
        .container {
            gap: 0px;
        }
        &__wrap {
            gap: 20px;
        }
        &__links {
            display: none;
            gap: 8px;
        }
        &-contact {
            &__social-wrap {
                padding-top: 20px;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &-mobile__wrap {
            gap: 20px;
        }
        &-mobile__info-block {
            gap: 10px;
        }
    }
}