.header {
    z-index: 9;
    position: fixed;
    width: 100%;
    background-color: $dark-blue;
    &__block {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-name {
            margin: 0;
            font-weight: $medium;
            font-size: 14px;
            line-height: 130%;
            color: $white;
        }
        &-nav {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 50px;
            .nav__link {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                gap: 6px;
                font-weight: $reg;
                font-size: 20px;
                line-height: 23px;
            }
            .nav__link::after {
                display: flex;
                align-items: center;
                cursor: pointer;
                content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNjI1MzU5IDAuNjQxNzE5SDExLjg3NTRDMTEuOTg5MyAwLjY0MjA3NiAxMi4xMDA5IDAuNjczNDkxIDEyLjE5ODMgMC43MzI1OEMxMi4yOTU3IDAuNzkxNjcgMTIuMzc1MSAwLjg3NjE5NyAxMi40MjggMC45NzcwNjRDMTIuNDgwOSAxLjA3NzkzIDEyLjUwNTMgMS4xOTEzMiAxMi40OTg1IDEuMzA1MDJDMTIuNDkxOCAxLjQxODcyIDEyLjQ1NDIgMS41Mjg0MyAxMi4zODk3IDEuNjIyMzRMNi43NjQ3MyA5Ljc0NzM0QzYuNTMxNjEgMTAuMDg0MiA1Ljk3MDM2IDEwLjA4NDIgNS43MzY2MSA5Ljc0NzM0TDAuMTExNjA5IDEuNjIyMzRDMC4wNDY0OTkxIDEuNTI4NjMgMC4wMDgzMTc0MyAxLjQxODg2IDAuMDAxMjExODMgMS4zMDQ5N0MtMC4wMDU4OTM3NyAxLjE5MTA4IDAuMDE4MzQ4NSAxLjA3NzQyIDAuMDcxMzA0OCAwLjk3NjMzOUMwLjEyNDI2MSAwLjg3NTI1OCAwLjIwMzkwNiAwLjc5MDYyMyAwLjMwMTU4NiAwLjczMTYyOUMwLjM5OTI2NiAwLjY3MjYzNSAwLjUxMTI0NiAwLjY0MTU0IDAuNjI1MzU5IDAuNjQxNzE5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
            }
            .nav__link:hover {
                height: 101px;
                ul {
                    display: block;
                }
            }
            .nav__link:hover::after {
                content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNjI1MzU5IDkuMzU4MjhIMTEuODc1NEMxMS45ODkzIDkuMzU3OTIgMTIuMTAwOSA5LjMyNjUxIDEyLjE5ODMgOS4yNjc0MkMxMi4yOTU3IDkuMjA4MzMgMTIuMzc1MSA5LjEyMzggMTIuNDI4IDkuMDIyOTRDMTIuNDgwOSA4LjkyMjA3IDEyLjUwNTMgOC44MDg2OCAxMi40OTg1IDguNjk0OThDMTIuNDkxOCA4LjU4MTI4IDEyLjQ1NDIgOC40NzE1NyAxMi4zODk3IDguMzc3NjZMNi43NjQ3MyAwLjI1MjY1NkM2LjUzMTYxIC0wLjA4NDIxODggNS45NzAzNiAtMC4wODQyMTg4IDUuNzM2NjEgMC4yNTI2NTZMMC4xMTE2MDkgOC4zNzc2NkMwLjA0NjQ5OTEgOC40NzEzNyAwLjAwODMxNzQzIDguNTgxMTQgMC4wMDEyMTE4MyA4LjY5NTAzQy0wLjAwNTg5Mzc3IDguODA4OTIgMC4wMTgzNDg1IDguOTIyNTggMC4wNzEzMDQ4IDkuMDIzNjZDMC4xMjQyNjEgOS4xMjQ3NCAwLjIwMzkwNiA5LjIwOTM4IDAuMzAxNTg2IDkuMjY4MzdDMC4zOTkyNjYgOS4zMjczNiAwLjUxMTI0NiA5LjM1ODQ2IDAuNjI1MzU5IDkuMzU4MjhaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
            }
            .nav__link-none::after {
                content: "";
            }
            .nav__link-none:hover::after {
                content: "";
            }
            .nav__link-img {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        &-entry {
            position: relative;
            display: flex;
            gap: 60px;
            .entry {
                &__search {
                    background-color: inherit;
                    border: none;
                    padding: 0;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    svg {
                        cursor: pointer;
                        width: 25px;
                        height: 25px;
                    }
                }
                &__input {
                    position: absolute;
                    top: 0px;
                    left: -140px;
                    max-width: 120px;
                    width: 100%;
                    outline: none;
                    background-color: inherit;
                    border: none;
                    border-bottom: 1px solid #FFFFFF;
                    font-weight: $reg;
                    font-size: 14px;
                    line-height: 16px;
                    color: #5A5A80;
                }
                &__user {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    &-icon {
                        width: 25px;
                        height: 25px;
                    }
                    &-btn {
                        font-weight: $reg;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .dropdown {
        border-top: 1px solid #6E6E94;
        display: none;
        position: absolute;
        background-color: $open-menu-blue;
        top: 101px;
        right: 0;
        left: 0;
        width: 100%;
        padding: 30px 0;
        margin: 0;

        .container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }

        li {
            display: inline-block;
            font-weight: $reg;
            font-size: 16px;
            line-height: 18px;
        }

        &__nav {
            color: $white;
            font-size: 16px;

            &-header {
                padding: 0;
                margin: 0;
                font-weight: $bold;
            }

            &-links {
                padding: 5px 0 0 0;
                margin: 0;

                li {
                    padding: 5px 0 0 0;
                    display: block;

                    a {
                        font-weight: $reg;
                    }
                }
            }
        }
    }
    .teams li {
        padding: 5px 0 0 20px;
    }
    a:hover {
        color: #f0f0f0;
    }
    .mobile__logo {
        display: none;
    }
}

.mobile {
    z-index: 7;
    position: absolute;
    top: 80px;
    border-top: 1px solid #6E6E94;
    z-index: 1;
    background-color: $dark-blue;
    width: 100%;
    height: 100vh;
    &__logo {
        flex-basis: 33.3%;
        object-fit: contain;
        width: 80px;
        height: 80px;
    }
    li {
        list-style-type: none;
        color: $white;
    }
    &__wrap {
        padding: 40px 0 0 40px;
    }
    &__nav {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    &__link {
        font-size: 18px;
        font-weight: $reg;
    }

    &__link a {
        font-weight: $medium;
    }

    &__link ul li a {
        font-weight: $reg;
    }

    &__link::after {
        cursor: pointer;
        content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNjI1MzU5IDAuNjQxNzE5SDExLjg3NTRDMTEuOTg5MyAwLjY0MjA3NiAxMi4xMDA5IDAuNjczNDkxIDEyLjE5ODMgMC43MzI1OEMxMi4yOTU3IDAuNzkxNjcgMTIuMzc1MSAwLjg3NjE5NyAxMi40MjggMC45NzcwNjRDMTIuNDgwOSAxLjA3NzkzIDEyLjUwNTMgMS4xOTEzMiAxMi40OTg1IDEuMzA1MDJDMTIuNDkxOCAxLjQxODcyIDEyLjQ1NDIgMS41Mjg0MyAxMi4zODk3IDEuNjIyMzRMNi43NjQ3MyA5Ljc0NzM0QzYuNTMxNjEgMTAuMDg0MiA1Ljk3MDM2IDEwLjA4NDIgNS43MzY2MSA5Ljc0NzM0TDAuMTExNjA5IDEuNjIyMzRDMC4wNDY0OTkxIDEuNTI4NjMgMC4wMDgzMTc0MyAxLjQxODg2IDAuMDAxMjExODMgMS4zMDQ5N0MtMC4wMDU4OTM3NyAxLjE5MTA4IDAuMDE4MzQ4NSAxLjA3NzQyIDAuMDcxMzA0OCAwLjk3NjMzOUMwLjEyNDI2MSAwLjg3NTI1OCAwLjIwMzkwNiAwLjc5MDYyMyAwLjMwMTU4NiAwLjczMTYyOUMwLjM5OTI2NiAwLjY3MjYzNSAwLjUxMTI0NiAwLjY0MTU0IDAuNjI1MzU5IDAuNjQxNzE5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
    }

    &__link:hover {
        ul {
            display: flex;
        }
    }

    &__link:hover a::after {
        content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNjI1MzU5IDkuMzU4MjhIMTEuODc1NEMxMS45ODkzIDkuMzU3OTIgMTIuMTAwOSA5LjMyNjUxIDEyLjE5ODMgOS4yNjc0MkMxMi4yOTU3IDkuMjA4MzMgMTIuMzc1MSA5LjEyMzggMTIuNDI4IDkuMDIyOTRDMTIuNDgwOSA4LjkyMjA3IDEyLjUwNTMgOC44MDg2OCAxMi40OTg1IDguNjk0OThDMTIuNDkxOCA4LjU4MTI4IDEyLjQ1NDIgOC40NzE1NyAxMi4zODk3IDguMzc3NjZMNi43NjQ3MyAwLjI1MjY1NkM2LjUzMTYxIC0wLjA4NDIxODggNS45NzAzNiAtMC4wODQyMTg4IDUuNzM2NjEgMC4yNTI2NTZMMC4xMTE2MDkgOC4zNzc2NkMwLjA0NjQ5OTEgOC40NzEzNyAwLjAwODMxNzQzIDguNTgxMTQgMC4wMDEyMTE4MyA4LjY5NTAzQy0wLjAwNTg5Mzc3IDguODA4OTIgMC4wMTgzNDg1IDguOTIyNTggMC4wNzEzMDQ4IDkuMDIzNjZDMC4xMjQyNjEgOS4xMjQ3NCAwLjIwMzkwNiA5LjIwOTM4IDAuMzAxNTg2IDkuMjY4MzdDMC4zOTkyNjYgOS4zMjczNiAwLjUxMTI0NiA5LjM1ODQ2IDAuNjI1MzU5IDkuMzU4MjhaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
        padding-left: 6px;
    }

    &__link:hover li a::after {
        content: "";
    }

    &__link:hover::after {
        content: "";
    }

    &__link-none::after {
        content: "";
    }

    &__link-none:hover::after {
        content: "";
    }

    &__link-none:hover a::after {
        content: "";
    }
    
    &__dropdown {
        padding: 10px 0 0 20px;
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    &__contact {
        padding-top: 60px;
        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-block {
            display: flex;
            align-items: center;
            gap: 7px;
            svg {
                width: 18px;
                height: 18px;
            }
            a, p {
                margin: 0;
                color: $white;
                font-weight: $medium;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
    &__social-wrap {
        padding-top: 30px;
        display: flex;
        gap: 32px;
        a svg {
            width: 32px;
            height: 32px;
        }
    }
    &__name {
        margin: 0;
        padding-top: 80px;
        color: $white;
        text-align: center;
        font-weight: $medium;
        font-size: 18px;
        line-height: 130%;
    }
}

@media (max-width: 1680px) {
    .header {
        &__block {
            &-nav {
                gap: 30px;
                .nav__link-img {
                    padding: 0;
                }
            }
            &-entry {
                gap: 20px;
                .entry__input {
                    left: -105px;
                    max-width: 90px;
                }
                .entry__user {
                    gap: 10px;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .header {
        &__block {
            &-name {
                font-size: 13px;
            }
            &-nav {
                gap: 25px;
                .nav__link {
                    font-size: 18px;
                }
            }
            &-entry {
                align-items: center;
                gap: 10px;
                .entry__search {
                    width: 20px;
                    height: 20px;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
                .entry__input {
                    left: -80px;
                    max-width: 70px;
                }
                .entry__user {
                    gap: 10px;
                    &-icon {
                        width: 20px;
                        height: 20px;
                    }
                    &-btn {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1170px) {
    .header {
        &__block {
            &-name {
                font-size: 12px;
            }
            &-nav {
                gap: 20px;
                .nav__link-img {
                    img {
                        width: 90px;
                        height: 90px;
                    }
                }
                .nav__link:hover {
                    height: 91px;
                }
                
            }
            &-entry {
                .entry__search {
                    display: none;
                }

                .entry__input {
                    left: -80px;
                    max-width: 70px;
                }

                .entry__user {
                    gap: 10px;

                    &-icon {
                        width: 20px;
                        height: 20px;
                    }

                    &-btn {
                        font-size: 18px;
                    }
                }
            }
        }
        .dropdown {
            top: 91px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__block {
            &-entry {
                flex-basis: 33.3%;
                justify-content: flex-end;
            }
            &-name {
                display: none;
            }
            &-nav {
                display: none;
            }
        }
        .mobile__logo {
            display: block;
        }
        .burger {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__block {
            &-entry {
                .entry__user {
                    gap: 7px;
                    &-btn {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .mobile {
        top: 70px;
        &__logo {
            width: 70px;
            height: 70px;
        }
        &__link {
            font-size: 16px;
        }
        &__contact {
            padding-top: 50px;
            &-block {
                display: flex;
                gap: 5px;
                svg {
                    width: 15px;
                    height: 15px;
                }
                a,
                p {
                    font-size: 15px;
                }
            }
        }
        &__social-wrap {
            gap: 25px;
            a svg {
                width: 30px;
                height: 30px;
            }
        }
        &__name {
            padding-top: 70px;
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        .entry__user {
            &-btn {
                font-size: 14px;
            }
        }
    }
    .mobile {
        &__link {
            font-size: 15px;
        }
        &__contact {
            &-block {
                a,
                p {
                    font-size: 14px;
                }
            }
        }
        &__social-wrap {
            gap: 20px;
        }
    }
}

@media (max-width: 480px) {
    .mobile {
        &__wrap {
            padding: 30px 0 0 20px;
        }
        &__name {
            padding-top: 60px;
        }
    }
}