.sports-schools {
    &__wrap {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__block {
        border-radius: 3px;
        position: relative;
        width: 100%;
        height: 650px;
    }
    &__photo {
        object-fit: cover;
        border-radius: 3px;
        width: 100%;
        height: 650px;
    }
    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, #323258 0%, rgba(2, 62, 138, 0) 100%);
        border-radius: 0 0 3px 3px;
        padding: 60px 60px 60px 120px;
    }
    &__name {
        padding: 0;
        margin: 0;
        color: $white;
        text-transform: none;
    }
    &__desc {
        max-width: 600px;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        font-weight: $reg;
        font-size: 18px;
        line-height: 21px;
    }
}

@media (max-width: 1400px) {
    .sports-schools {
        &__wrap {
            margin-top: 40px;
        }

        &__block {
            height: 600px;
        }

        &__photo {
            height: 600px;
        }

        &__content {
            padding: 40px 40px 40px 80px;
        }

        &__desc {
            padding-top: 15px;
            max-width: 500px;
            font-size: 16px;
        }
    }
}

@media (max-width: 1170px) {
    .sports-schools {
        &__block {
            height: 500px;
        }
        &__photo {
            height: 500px;
        }

        &__desc {
            padding-top: 10px;
            max-width: 450px;
        }
    }
}

@media (max-width: 992px) {
    .sports-schools {
        &__wrap {
            margin-top: 20px;
        }
        &__block {
            height: 450px;
        }

        &__photo {
            height: 450px;
        }

        &__content {
            padding: 20px 20px 20px 40px;
        }
        &__desc {
            max-width: 450px;
        }
    }
}

@media (max-width: 768px) {
    .sports-schools {
        &__wrap {
            margin-top: 15px;
            gap: 30px;
        }
        &__block {
            height: 400px;
        }
        &__photo {
            height: 400px;
        }
        &__desc {
            font-size: 14px;
            max-width: 400px;
        }
    }
}

@media (max-width: 576px) {
    .sports-schools {
        &__block {
            max-height: 350px;
        }

        &__photo {
            max-height: 350px;
        }
        &__content {
            padding: 10px 10px 10px 20px;
        }

        &__desc {
            max-width: 350px;
        }
    }
}

@media (max-width: 480px) {
    .sports-schools {
        &__block {
            max-height: 300px;
        }
        &__photo {
            max-height: 300px;
        }
        &__desc {
            max-width: 300px;
        }
    }
}